.container{

}
input{
  font-family: "Lucida Console", Monaco, monospace;
  background: transparent;
  border:none;
  outline:none;
  color:#ffc20e;
  color:rgba(255,194,14,.9);
  text-shadow: 0px 0px 7px rgba(238, 220, 0, 1);
  width: 90%;
  font-size: 14px;
}
pre{
  font-family: "Lucida Console", Monaco, monospace;
}
input:focus{
  border:none;
}
body p{
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
.debug{
  color:#d71920;
  text-shadow: 0px 0px 7px rgba(215, 25, 32, 1);
}